body{
    background-color:coral;
}
#show-item img{
    width: 200px;
}
#item-details img{
    width: 200px;
}
#show-item{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.foodsDiv-style{
    text-align: center;
}